<a href="https://colab.research.google.com/github/lisabroadhead/sustenance-vender-forecast/blob/main/project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 1 - Part 2 (core)
Lisa Broadhead <br/>
May 26, 2022

1. How many rows and columns?
2. What are the datatypes of each variable?
3. Are there duplicates? If so, drop any duplicates.
4. Identify missing values.
5. Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).
6. Confirm that there are no missing values after addressing them.
7. Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent) 
8. For any numerical columns, obtain the summary statistics of each (min, max, mean)

In [2]:
filename = "/content/drive/MyDrive/Colab Notebooks/coding_dojo/files/sales_predictions (1).csv"

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(filename)
df.head(100)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
95,FDU04,NaN,Low Fat,0.009715,Frozen Foods,120.0414,OUT019,1985,Small,Tier 1,Grocery Store,487.3656
96,FDF41,12.15,Low Fat,0.131384,Frozen Foods,246.0460,OUT049,1999,Medium,Tier 1,Supermarket Type1,1231.7300
97,FDB56,8.75,Regular,0.074613,Fruits and Vegetables,187.4556,OUT035,2004,Small,Tier 2,Supermarket Type1,3755.1120
98,NCP18,NaN,Low Fat,0.028460,Household,149.9708,OUT027,1985,Medium,Tier 3,Supermarket Type3,4363.6532
99,FDB56,8.75,Regular,0.074627,Fruits and Vegetables,187.8556,OUT046,1997,Small,Tier 1,Supermarket Type1,1314.2892

## 1. How many rows and columns?

In [5]:
df.shape

(8523, 12)

## 2. What are the datatypes of each variable?

In [6]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

## 3. Are there duplicates? If so, drop any duplicates.

In [8]:
# df.duplicated().sum()
df = df.drop_duplicates()
df.duplicated().sum()

0

## 4. Identify missing values.

In [9]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

## 5. Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).

### Outlet_size

It's too large to drop, so we replace all the nan with zeros

We used zeros because we just need a placeholder for the missing data and zero is a good enough choice as any

In [45]:
df['Outlet_Size'].isna().sum()

0

In [34]:
df['Outlet_Size'].unique()

array(['Medium', 0, 'High', 'Small'], dtype=object)

In [35]:
# so too large to just delete or drop
2410/ 8523

0.2827642848762173

In [36]:
df['Outlet_Size'] = df['Outlet_Size'].fillna(0)

In [38]:
df['Outlet_Size'].unique()

array(['Medium', 0, 'High', 'Small'], dtype=object)

In [37]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                     0
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

### Item_weight

replaced nan with the mean because I didn't want it to mess up any statics of the column. Putting a 0 would do that and putting a string would turn the whole column into an object

In [50]:
df['Item_Weight'].isna().sum()

1463

In [ ]:
df.groupby(['Item_Weight']).mean()

In [63]:
item_weigth_mean = df['Item_Weight'].notnull().mean()
item_weigth_mean

0.8283468262348939

In [65]:
df['Item_Weight'] = df['Item_Weight'].fillna(item_weigth_mean)

In [66]:
df['Item_Weight'].isna().sum()

0

In [67]:
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

## 6. Confirm that there are no missing values after addressing them.

In [68]:
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

## 7. Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent)

In [10]:
df.nunique()

Item_Identifier              1559
Item_Weight                   415
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     3
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [98]:
for col in df:
    print(col)
    print(df[col].unique())
    print('\n')

Item_Identifier
['FDA15' 'DRC01' 'FDN15' ... 'NCF55' 'NCW30' 'NCW05']


Item_Weight
[ 9.3         5.92       17.5        19.2         8.93       10.395
 13.65        0.82834683 16.2        11.8        18.5        15.1
 17.6        16.35        9.         13.35       18.85       14.6
 13.85       13.          7.645      11.65        5.925      19.25
 18.6        18.7        17.85       10.          8.85        9.8
 13.6        21.35       12.15        6.42       19.6        15.85
  7.39       10.195       9.895      10.895       7.905       9.195
  8.365       7.97       17.7        19.35        8.645      15.6
 18.25        7.855       7.825       8.39       12.85       19.
  5.905       7.76       16.75       15.5         6.055       6.305
 20.85       20.75        8.895      19.7         8.75       13.3
  8.31       19.75       17.1        10.5         6.635      14.15
  8.89        9.1         7.5        16.85        7.485      11.6
 12.65       20.25        8.6        12.6         8.88       20.5
 13.5         7.235       6.92        8.02       12.8        16.6
 14.         16.         21.25        7.365      18.35        5.465
  7.27        6.155      19.5        15.2        14.5        13.1
 12.3        11.1        11.3         5.75       11.35        6.525
 10.3         5.78       11.85       18.75        5.26       16.1
  9.5        13.8        14.65        6.67        6.11       17.2
  6.32        4.88        5.425      14.1         7.55       17.25
 12.         10.1         7.785      13.15        8.5         7.63
  9.285       7.975      15.7         8.985      20.35        6.59
 19.85        6.26       18.2         8.695       7.075       8.195
  7.09        6.095       6.15        9.395      15.75        7.475
  6.445      19.1        15.         16.7         7.07        6.48
  9.695      11.15        9.6        20.7         5.5         7.895
 17.35        7.285       6.17       11.395       7.71       12.1
 14.35        8.1         8.05       16.5         6.785       7.575
  7.47       15.25        7.605      18.         21.2         8.97
 10.6         6.865      10.8        15.15       18.1         6.655
 20.1         7.935      15.35       12.35        6.85        8.775
 14.85        7.84       12.5         8.325       5.765       5.985
 14.3         6.135       8.51        6.65        5.695       6.36
  8.3         7.56        8.71        6.695      14.8        17.75
  8.575       6.57        8.68        5.63        9.13        6.715
  5.82        7.93        5.          7.445       6.675       8.18
  6.98        7.435      20.6         8.355       8.975      20.2
  5.655       5.175      20.          7.67        4.785       8.395
  6.175       8.21        5.845       7.17        8.785       7.89
  5.32        5.03        8.945       6.28        7.565       9.31
  7.02        5.46        6.13        6.55       17.         16.25
  5.15        7.865       6.575       7.06        5.785       7.42
  6.235       6.75        5.86        5.035       6.38        5.675
 11.5        21.         21.1         4.61        7.          6.405
 14.7         7.68        8.185       8.655      10.85        8.42
  7.85        4.59        7.51       11.          6.71       14.75
  7.59        5.155       6.365       8.235       5.365       8.485
  7.535       4.92        6.385       8.26        7.945       8.63
  9.21        6.965       8.905       7.21        7.3         9.27
 10.695       6.215       7.405       7.72        6.115       6.035
  6.78       15.3         7.105       7.52        4.805       6.425
  7.6         6.61        7.325       8.115       5.94        5.635
  7.35        5.825       6.63        7.05        8.315       6.8
  7.035       8.96        5.51        8.43        8.27        7.81
  6.885       5.44        5.405       4.635      10.65        5.735
  6.465       8.84        7.75        6.765       9.065       7.655
  4.615       8.76        7.1         6.195       5.615       8.52
  7.26        6.825       5.325       5.59        5.88        5.19
  6.985       9.06        6.69        8.615       7.275       6.96
  9.17        8.155       5.73        8.935       8.92        7.36
  7.64        5.34        7.22        6.615       6.76        6.3
  5.98        8.06        6.44        5.095       8.8         6.325
  7.31        9.035       9.105       7.145       4.905       4.555
  8.          7.315       6.89        5.945       6.86        6.935
  6.03        7.725       5.885       7.155       6.46        5.48
  8.01        5.8         5.305       6.905       7.96        5.11
  8.77        7.685       8.275       8.38        8.35        9.42
  6.775       6.4         6.895       5.485       6.52        8.67
  5.21        5.4       ]


Item_Fat_Content
['Low Fat' 'Regular' 'low fat' 'LF' 'reg']


Item_Visibility
[0.0160473  0.01927822 0.01676007 ... 0.03518627 0.14522065 0.04487828]


Item_Type
['Dairy' 'Soft Drinks' 'Meat' 'Fruits and Vegetables' 'Household'
 'Baking Goods' 'Snack Foods' 'Frozen Foods' 'Breakfast'
 'Health and Hygiene' 'Hard Drinks' 'Canned' 'Breads' 'Starchy Foods'
 'Others' 'Seafood']


Item_MRP
[249.8092  48.2692 141.618  ...  57.5904 214.5218  75.467 ]


Outlet_Identifier
['OUT049' 'OUT018' 'OUT010' 'OUT013' 'OUT027' 'OUT045' 'OUT017' 'OUT046'
 'OUT035' 'OUT019']


Outlet_Establishment_Year
[1999 2009 1998 1987 1985 2002 2007 1997 2004]


Outlet_Size
['Medium' 0 'High' 'Small']


Outlet_Location_Type
['Tier 1' 'Tier 3' 'Tier 2']


Outlet_Type
['Supermarket Type1' 'Supermarket Type2' 'Grocery Store'
 'Supermarket Type3']


Item_Outlet_Sales
[3735.138   443.4228 2097.27   ... 7182.6504 3608.636  2778.3834]

In [ ]:
for val in df['Item_Outlet_Sales'].unique():
    print(val)

### Checking values

In [39]:
df['Item_Identifier'].unique()

array(['FDA15', 'DRC01', 'FDN15', ..., 'NCF55', 'NCW30', 'NCW05'],
      dtype=object)

In [72]:
df.groupby(['Item_Identifier'])

In [11]:
df['Item_Type'].unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [12]:
df['Outlet_Type'].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [13]:
df['Outlet_Identifier'].unique()

array(['OUT049', 'OUT018', 'OUT010', 'OUT013', 'OUT027', 'OUT045',
       'OUT017', 'OUT046', 'OUT035', 'OUT019'], dtype=object)

In [29]:
df['Outlet_Location_Type'].unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [31]:
df['Outlet_Type'].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [26]:
df['Outlet_Establishment_Year'].unique()

array([1999, 2009, 1998, 1987, 1985, 2002, 2007, 1997, 2004])

### Fixing column Item_Fat_Content

In [ ]:
df['Item_Fat_Content'].unique()

In [ ]:
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace({'low fat': 'Low Fat', 'LF': 'Low Fat'})

In [ ]:
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('reg', 'Regular')

## 8. For any numerical columns, obtain the summary statistics of each (min, max, mean)

In [73]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,0,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

### Item_weight
1. min
2. max
3. mean

In [75]:
df['Item_Weight'].min()

0.8283468262348939

In [74]:
df['Item_Weight'].max()

21.35

In [76]:
df['Item_Weight'].mean()

10.792777942835391

### Item_Visibility

In [78]:
df['Item_Visibility'].min()

0.0

In [79]:
df['Item_Visibility'].max()

0.328390948

In [77]:
df['Item_Visibility'].mean()

0.06613202877895127

### Item_MRP

In [80]:
df['Item_MRP'].min()

31.29

In [81]:
df['Item_MRP'].max()

266.8884

In [82]:
df['Item_MRP'].mean()

140.9927819781768

### Outlet_Establishment_Year

In [86]:
df['Outlet_Establishment_Year'].min()

1985

In [89]:
df['Outlet_Establishment_Year'].max()

2009

In [90]:
df['Outlet_Establishment_Year'].mean()

1997.8318667135984

### Item_Outlet_Sales

In [83]:
df['Item_Outlet_Sales'].min()

33.29

In [84]:
df['Item_Outlet_Sales'].max()

13086.9648

In [85]:
df['Item_Outlet_Sales'].mean()

2181.2889135750365